*,
::before,
::after{
    font-family: 'Noto Sans JP', sans-serif;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:  transparent;
    line-height: 1.15;
}

body {
    margin: 0;
}

.l-main{
    padding-top: 56px;
}
.l-container{
    margin: 0 auto;
    max-width: 1032px;
    padding: 0 16px;
    width: 100%;
}


main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

.p-header{
    align-items: center;
    background-color:#fff;
    display: flex;
    padding: 15px 24px;
    justify-content: space-between;
}
.l-header{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}
.p-header_nav_list{
    display: flex;
    gap: 30px;
    font-weight: bold;
    color: #adadad;

}
.header_icon{
    border: solid 1px #adadad;
    border-radius: 50%;
    padding: 5px;
}
.p-line{
    margin-top: 64px;
}
.p-line__body{
    background:url(../assets/img/bg-line.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 28px;
    overflow: hidden;
    padding: 42px 24px;
    position: relative;
}
.p-line__body::before{
    background-color: rgba(0, 113,188,0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}
.p-line__body__inner{
    position: relative;
    z-index: 1;
}
.p-line__title{
    align-items: center;
    display: flex;
    justify-content:center;
    gap: 4px;
    color: #eee;
    font-weight: 800;
    font-size: 36px;
    line-height: 65px;
}
.p-line__title .u-icon__line {
    font-size: 40px;

}
h2::before{
    content:"";
    vertical-align: middle;
    padding-right: 8px;
    background-image: url(../assets/img/icon/icon-line.svg);
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}
.p-line__content{
    color: #eee;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1em;
    margin-top: 8px;
    text-align: center;
}
.p-line__footer{
    margin-top: 34px;
    text-align: center;
}
.p-line__button{
    color: #333;
    font-size: 14px;
    line-height: 1.8;
    display: flex;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 12px;
    position: relative;
    justify-content: center;
}
/* .p-line__button::after{
    content:"";
    vertical-align: middle;
    padding-left: 89px;
    background-image: url(../assets/img/icon/icon-link-dark.svg);
    display: inline-block;
    width: 12.25px;
    height: 12.25px;
    background-repeat: no-repeat;
 
} */
.p-line__button__box{
    background-color: #fff;
    border-radius: 50px;
    max-width: 320px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


/* .arrow__box{
    position: absolute;
    /* margin: -35px 20.46px 18.29px 287.29px; */
    /* float: right; */
.p-line__button .u-icon__link{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.footer{
    height: 150px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #eee;
    margin-top: 80px;
}
.footer_logo{
    display: block;
    margin: 0 auto;
    width: 202px;
    height: 39px;
    margin-top: 56px;
}
.footer_logo img{
    width: 100%;
}
.p-footer__siteinfo__link{
    margin: 24px auto;
}

.p-fixedLine{
    bottom: 16px;
    right: 16px;
    position: fixed;
}
.p-fixedLine__link{
    align-items: center;
    background-color: #5fdf5b;
    display: flex;
    padding: 10px;
    border-radius: 16px;
}
.p-fixedLine__link .u-icon__line{
    font-size: 28px;
}
.p-fixedLine__link__text{
    font-size: 14px;
    line-height: 1.3;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.14em;
    text-align: left;
}
.p-fixedLine__link.u-icon__link{
    color: #fff;
    font-size: 18px;
}
.p-footer__copyright{
    line-height: 1.5px;
    padding: 38px 24px 33px;
    border: solid 1px #eee; 
}
.fixed__line_icon{
    width: 36px;
height: 36px;
left: 24px;
top: 22px;
margin-right: 8px;
background-color: #fff;
}
.footer_sns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 48px;
}
.footer__icon{
    border: solid 1px #adadad;
    border-radius: 50%;
    padding: 5px;
}